@typeparam T

@if (Visible)
{
    InitializeDropdown();
    <div class="Rr-dropdown-container" @onclick="HandleDropdownClicked">
        @if (!string.IsNullOrEmpty(Label))
        {
            <div class="Rr-dropdown-label-container">
                <span class="Rr-dropdown-label" style="@($"{LabelStyling}")">@Label</span>
            </div>
        }
        <div id="@Id" class="Rr-dropdown @dropdownCssClass @(SelectedItem is null && Flashing ? "fade-red" : "")"
             style="@($"--dropdown-width: {calculatedWidth}; min-width: {MinWidth}; --max-height: {MaxHeight};")
                    @(!string.IsNullOrEmpty(Label) ? "margin-left: -5px; box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);" : "") @Style">
            <span class="Rr-dropdown-selectiontext">
                @(SelectedItem is null ? Placeholder : RrStateService.GetDisplayValue(SelectedItem))
            </span>
            <span class="Rr-dropdown-arrow"></span>
            <div class="Rr-dropdown-content">
                <ul class="item-list">
                    @if (processedItems is not null && processedItems.Any())
                    {
                        foreach (var item in processedItems)
                        {
                            <li @onclick="() => HandleItemSelected(item)">
                                <span>@RrStateService.GetDisplayValue(item)</span>
                            </li>
                        }
                    }
                    else
                    {
                        if (processedItems is null || !processedItems.Any())
                        {
                            <li class="no-items">
                                <span>empty</span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}
