
@if (Dropdown is not null)
{
    InitializeDropdownState();

    <div id="@Id" class="Rr-dropdown @dropdownCssClass @(string.IsNullOrEmpty(Dropdown.Text) ? "fade-red" : "")"
         style="@($"--dropdown-width: {calculatedWidth}; min-width: {MinWidth}; --max-height: {MaxHeight};") @Style"
         @onclick="HandleDropdownClicked">
        <span class="Rr-dropdown-selectiontext">@(string.IsNullOrEmpty(dropdownInstance?.Text) ? dropdownInstance?.PlaceHolder : dropdownInstance.Text)</span>
        <span class="Rr-dropdown-arrow"></span>
        <div class="Rr-dropdown-content">
            <ul class="item-list">
                @if (filteredItems is not null && filteredItems.Any())
                {
                    @foreach (var item in filteredItems)
                    {
                        <li @onclick="() => HandleItemSelected(item)">
                            <span>@item</span>
                        </li>
                    }
                }
                else
                {
                    <li class="no-items">
                        <span>empty</span>
                    </li>
                }
            </ul>
        </div>
    </div>
}
