
@if (Visible)
{
    InitializePanel();
    <div id="@($"{Id}-panel-container")" class="Rr-panel-container @PType.ToString().ToLower()">
        <div id="@($"{Id}-panel")" class="Rr-panel @PType.ToString().ToLower()"
             style="@Style">
            @if (Header is not null)
            {
                <div class="Rr-panel-header @GetHeaderStylingCssClass()">
                    @Header
                </div>
            } 
            @if (Body is not null)
            {
                <RrLoading Loading="@loading"></RrLoading>
                <div class="Rr-panel-body" style="@($"height: calc(100% - {GetBodySizeOffset()});") @GetAllowedScrolling()">
                    @Body
                </div>
            }
            @if (Footer is not null)
            {
                <div class="Rr-panel-footer">
                    @Footer
                </div>
            }
        </div>
        <div id="@($"{Id}-panel-statechanger")" class="Rr-panel-statechanger @PType.ToString().ToLower()">
            <div id="@($"{Id}-Selement-container-1")" class="Rr-panel-statechanger-Selement-container one">
                <span id="@($"{Id}-Selement-1")" class="Rr-panel-statechanger-Selement one"></span>
            </div>
            <div id="@($"{Id}-panel-container-center")" class="Rr-panel-statechanger-center-container">
                <span id="@($"{Id}-panel-center")" class="Rr-panel-statechanger-center"></span>
            </div>
            <div id="@($"{Id}-Selement-container-2")" class="Rr-panel-statechanger-Selement-container two">
                <span id="@($"{Id}-Selement-2")" class="Rr-panel-statechanger-Selement two"></span>
            </div>
        </div>
    </div>
}

