
@if (Visible)
{
    InitializePanel();
    <div class="Rr-panel-container @GetPanelTypeCssClass() @panelStateCssClass"
         style="@($"--panel-top: {panelTop}; --panel-left: {panelLeft}; --panel-right: {panelRight};")">
        <div class="Rr-panel @GetPanelTypeCssClass() @panelStateCssClass"
             style="@($"--panel-width: {panelWidth}; --panel-height: {panelHeight};") @Style">
            @if (Header is not null)
            {
                <div class="Rr-panel-header">
                    @Header
                </div>
            }
            @if (Body is not null)
            {
                <div class="Rr-panel-body" style="@($"height: {panelBodyOffsetHeight};")">
                    @Body
                </div>
            }
            @if (Footer is not null)
            {
                <div class="Rr-panel-footer">
                    @Footer
                </div>
            }
        </div>
        <div class="Rr-panel-statechanger @GetPanelTypeCssClass() @panelStateCssClass"
             style="@($"width: {stateChangerWidth}; height: {stateChangerHeight}; --state-changer-position: {stateChangerPosition};")"
             @onclick="HandleStateChangerClicked">
            <div class="top-dots">
                <span class="Rr-panel-dots"></span>
            </div>
            <span class="Rr-panel-statechanger-arrow @GetPanelTypeCssClass()"></span>
            <div class="bottom-dots">
                <span class="Rr-panel-dots"></span>
            </div>
        </div>
    </div>
}

