<div class="Rr-page" style="@($"--top-offset: {TopOffset}; --left-offset: {LeftOffset};")">
    @if (Header != null)
    {
        <div class="Rr-page-header-container">
            <div class="Rr-page-header">
                @Header
            </div>
        </div>
    }

    @if (Panels != null)
    {
        <CascadingValue Value="@Id" Name="ContainingDivId">
            <CascadingValue Value="@PanelLatching">
                <CascadingValue Value="@LatchingType">
                    <CascadingValue Value="@LatchingPanelsMininmumAdjustmentSize">
                        <div id="@Id" class="Rr-page-panels-container" style="@GetBodyHeight()">
                            @Panels
                        </div>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>

    }

    @if (Body != null)
    {
        <div id="@($"{Id}-body")" class="Rr-page-body-container" style="@GetBodyHeight()">
            <div class="Rr-page-body">
                @Body
            </div>
        </div>
    }

    @if (Footer != null)
    {
        <div class="Rr-page-footer-container">
            <div class="Rr-page-footer">
                @Footer
            </div>
        </div>
    }
</div>
