
@if (Visible)
{
    InitializePanel();
    <div id="@($"{Id}-panel-container")" class="Rr-panel-container @GetPanelTypeCssClass() @GetInitialStateCssClass()">
        <div id="@($"{Id}-panel")" class="Rr-panel @GetPanelTypeCssClass() @GetInitialStateCssClass()"
             style="@Style">
            @if (Header is not null)
            {
                <div class="Rr-panel-header @GetHeaderStylingCssClass()">
                    @Header
                </div>
            }
            @if (Body is not null)
            {
                <RrLoading AllowLoading="AllowLoading" Loading="@RrStateService.AppGlobalVariables.Loading"></RrLoading>
                <div class="Rr-panel-body" style="@($"height: calc(100% - {GetBodySizeOffset()});") @GetAllowedScrolling()">
                    @Body
                </div>
            }
            @if (Footer is not null)
            {
                <div class="Rr-panel-footer">
                    @Footer
                </div>
            }
        </div>
        <div id="@($"{Id}-panel-statechanger")" class="Rr-panel-statechanger @GetPanelTypeCssClass() @GetInitialStateCssClass()">
            @if (Latching && LatchingType == LatchingTypes.Vertical)
            {
                <div id="@($"{Id}-dots-container-center")" class="Rr-panel-statechanger-dots-container @GetCenterStateChangerCssClass()">
                    <span class="Rr-panel-statechanger-dots vertical @GetCenterStateChangerCssClass()"></span>
                </div>
            }
            else
            {
                if (PType == PanelTypes.Left || PType == PanelTypes.Right)
                {
                    <div id="@($"{Id}-dots-container-top")" class="Rr-panel-statechanger-dots-container top">
                        <span class="Rr-panel-statechanger-dots vertical"></span>
                    </div>
                    <div id="@($"{Id}-panel-arrow-container")" class="Rr-panel-statechanger-arrow-container vertical">
                        <span class="Rr-panel-statechanger-arrow @GetPanelTypeCssClass()"></span>
                    </div>
                    <div id="@($"{Id}-dots-container-bottom")" class="Rr-panel-statechanger-dots-container bottom">
                        <span class="Rr-panel-statechanger-dots vertical"></span>
                    </div>
                }
                else
                {
                    <div id="@($"{Id}-dots-container-left")" class="Rr-panel-statechanger-dots-container left">
                        <span class="Rr-panel-statechanger-dots horizontal"></span>
                    </div>
                    <div>
                    </div>
                    <div id="@($"{Id}-panel-arrow-container")" class="Rr-panel-statechanger-arrow-container horizontal">
                        <span class="Rr-panel-statechanger-arrow @GetPanelTypeCssClass()"></span>
                    </div>
                    <div id="@($"{Id}-dots-container-right")" class="Rr-panel-statechanger-dots-container right">
                        <span class="Rr-panel-statechanger-dots horizontal"></span>
                    </div>
                }
            }
        </div>
    </div>
}

